{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Streaming Service</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body style="margin:0; padding:0; background:#121212; font-family:Arial, sans-serif; color:#fff;">
    <!-- Sidebar remains unchanged -->
    <div class="sidebar">
        <!-- Spotify Logo -->
        <div class="logo-container">
            <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green.png" alt="Spotify Logo" style="width: 100%; height: auto; padding: 20px; box-sizing: border-box;">
        </div>

        <!-- Welcome User -->
        <div class="sidebar-section">
            <span style="margin-left: 14px;" class="sidebar-link-icon">👤</span>
            <b>Welcome, {{user.username}}</b>
            <br>
            <br>

            <a href="/logout">
                <span class="sidebar-link-icon">↪️</span>
                <b>Logout</b>
            </a>
        </div>

        <!-- Top section of the sidebar -->
        <div class="sidebar-section">
            <a href="/" class="sidebar-link active">
                <span class="sidebar-link-icon">🏠</span>
                Home
            </a>
            <a href="/search" class="sidebar-link">
                <span class="sidebar-link-icon">🔍</span>
                Search
            </a>
        </div>

    </div>

    <!-- Main content area where we will add the music player -->
    <div class="music-player" style="margin-left:240px; padding:20px; display: flex; justify-content: center; align-items: center; height: calc(100vh - 90px);">
        <!-- Music Player Interface -->
        <div class="player-container">
            <br><br><br><br><br>
            <img class="album-cover" src="{{album_cover}}" alt="Album Cover" height="350">
            <div class="song-info">
                <h2 class="song-title">{{track_name}}</h2>
                <h3 class="artist-name">{{artist_name}}</h3>
            </div>
            <div class="player-controls">
                <button id="prev" class="control-btn" disabled>&#9668;</button>
                <button id="play-pause" class="control-btn play-btn" disabled>&#9658;</button>
                <button id="next" class="control-btn" disabled>&#9658;</button>
            </div>
            <div class="progress-bar" id="progress-bar">
                <div class="progress" id="progress"></div>
            </div>
            <div class="time-stamps">
                <span id="current-time">0:00</span>
                <span id="total-duration">0:00</span>
            </div>
        </div>
    
    </div>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        const playPauseBtn = document.getElementById('play-pause');
        const nextButton = document.getElementById('next')
        const prevButton = document.getElementById('prev')
        let position_minutes = 0
        let position_seconds = 0
        let is_playing = false
        let device_ID = ""
        window.onSpotifyWebPlaybackSDKReady = () => {
        const token = "{{token}}"
        console.log('token: ',token)
        const player = new Spotify.Player({
            name: 'Web Playback SDK Quick Start Player',
            getOAuthToken: cb => { cb(token); },
            volume: 0.5
        });
          // Ready
        player.addListener('ready', ({ device_id }) => {
            device_ID = device_id
            console.log('Ready with Device ID', device_id);
            playPauseBtn.disabled = false
            nextButton.disabled = false
            prevButton.disabled = false
        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });
        player.addListener('initialization_error', ({ message }) => {
            console.error(message);
        });

        player.addListener('authentication_error', ({ message }) => {
            console.error(message);
        });

        player.addListener('account_error', ({ message }) => {
            console.error(message);
        });
        player.connect();
        

}
        async function playTrack() {
            token = "{{token}}"
            console.log('duration',currentTrackDurationms)
            response = await fetch(`https://api.spotify.com/v1/me/player/play?device_id=${device_ID}`, {
                method: 'PUT',
                body: JSON.stringify({ uris: ["{{track_uri}}"],position_ms: currentTrackDurationms!=null ? currentTrackDurationms : 0}),
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
            }).then(async response => {
                if (response.status === 204) {
                    console.log('Track played successfully');
                    is_playing = true;
                } else if (response.status === 200) {
                    return response.json().then(data => {
                        console.log('Response data:', data);
                    });
                } else {
                    throw new Error('Network response was not ok');
                }
                // getPlaybackState()

            })
            // console.log(response)
        }

        async function getPlaybackState() {
            token = "{{token}}"
            response = await fetch('https://api.spotify.com/v1/me/player?market=AE&additional_types=track', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}` 
                }
            }).then(async response => {
                if (response.status===204) {
                console.log('No playback active')
                }else
                {
                    return response.json()
                }
            })
            .then(data => {
                if (data != null){
                    is_playing = data.is_playing
                    currentTrackDurationms = data.progress_ms
                    console.log('Data received:', data.item.duration_ms);
                }
            });
        }

        async function pauseTrack(){
            token = "{{token}}"
            response = await fetch(`https://api.spotify.com/v1/me/player/pause?device_id=${device_ID}`,{
                method:'PUT',
                headers: {
                    'Authorization': `Bearer ${token}` 
                }
            }).then(async response=>{
                if (response.status === 204){
                    console.log('playback paused')
                    is_playing = false
                }else{
                    console.log(response)
                }
            })
        }

        

    </script>


    <script>
        document.getElementById('total-duration').innerText = millisToMinutesAndSeconds("{{duration_text}}")
        const audioPlayer = document.getElementById('audio-player');
        const progressBar = document.getElementById('progress-bar');
        const progress = document.getElementById('progress');
        const currentTimeElement = document.getElementById('current-time');
        const totalDurationElement = document.getElementById('total-duration');
        let intervalId;
        let currentTrackDuration;
        let trackTotalDuration = "{{duration_text}}";
        let currentTrackDurationms = 0;

        playPauseBtn.addEventListener('click', async () => {
            // await getPlaybackState()
            console.log('is_playing',is_playing)
            console.log('interval',intervalId)

            if (is_playing) {
                await pauseTrack()
                playPauseBtn.innerHTML = '&#10074;&#10074;'; // Change to pause icon
                if (intervalId!=null){
                    clearInterval(intervalId)
                    console.log('cleared interval')
                }
            } else {
                await playTrack()
                playPauseBtn.innerHTML = '&#9658;'; // Change to play icon
                intervalId = setInterval(async ()=>{
                    await getPlaybackState()
                    changeProgressBarWidth()
                },1000)
            }
        });


        progressBar.addEventListener('click', (e) => {
            const progressBarWidth = progressBar.clientWidth;
            const clickX = e.offsetX;
            clickedDuration = Math.floor((clickX / progressBarWidth) * trackTotalDuration)
            if (clickedDuration>0 && clickedDuration<trackTotalDuration){
                currentTrackDurationms = clickedDuration
                if (is_playing){
                    playTrack()
                }
                changeProgressBarWidth()
            }
            console.log('progress bar',progressBarWidth,clickX,clickedDuration)
        });

        // Move forward 10 seconds
        nextButton.addEventListener('click',async () => {
            currentTrackDurationms+=10000
            if (currentTrackDurationms > trackTotalDuration){
                currentTrackDurationms = trackTotalDuration
            }
            if (is_playing){
                console.log('duration on next',currentTrackDurationms)   
                await playTrack()
            }
            changeProgressBarWidth()
        });
        

        // Move back 10 seconds
        prevButton.addEventListener('click',async () => {
            currentTrackDurationms-=10000
            if (currentTrackDurationms<0){
                currentTrackDurationms = 0
            }
            if (is_playing){
                await playTrack()
            }
            changeProgressBarWidth()
        });

        function millisToMinutesAndSeconds(millis) {
            var minutes = Math.floor(millis / 60000);
            var seconds = ((millis % 60000) / 1000).toFixed(0);
            return (
                seconds == 60 ?
                (minutes+1) + ":00" :
                minutes + ":" + (seconds < 10 ? "0" : "") + seconds
            );        
        }

        function changeProgressBarWidth(){
            currentTrackDuration = millisToMinutesAndSeconds(currentTrackDurationms)
            currentTimeElement.textContent = currentTrackDuration;
            const progressPercentage = (currentTrackDurationms / trackTotalDuration) * 100;
            progress.style.width = `${progressPercentage}%`;
        }
    </script>

</body>
</html>